[Desktop Entry]
Type=Application
Name=OD Tracker
Comment=Opens the OD tracker program
Exec=open /home/YOUR_DIR_HERE/OD_tracker/index.html
Icon=/home/YOUR_DIR_HERE/OD_tracker/genesys_30.png
Terminal=false
Categories=Utility;
